Makefile
Makefile.in
configure
install-sh
missing
compile
aclocal.m4
config.log
config.status
config.guess
config.sub
depcomp
autom4te.cache
libtool
ltmain.sh
.dirstamp
.deps

src/*.o
src/modules/*.o
pppoat

*.swp
tags
core
